



.container{
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.location{
  display: flex;
  flex-direction: row;
  gap: 15px;

}

.headercontain{
  display: flex;
}
.headrercontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Weathercard{
  width: 300px;
  
}
.forecast{
  width: 1000px;
  
}
/**
.navigation{
  margin-bottom: 30px;
}
.App{
  margin-bottom: auto;
}

**/